.article {
    width: 454px!important;
}
.player-window {
    width: 196px!important;
    height: 196px!important;
}
.navigation {
    width: 168px!important;
    padding-left: 28px!important;
}
.series-nav {
    width: 497px!important;
}