.article {
    width: 454px!important;
}
.player-window {
    width: 196px!important;
    height: 196px!important;
}
.navigation {
    width: 176px!important;
    padding-left: 10px!important;
}
.navigation li {
    margin-left: 0px!important;
}
.series-nav {
    width: 497px!important;
}
.post-listing .post-data {
    width: 494px!important;
}
.post-listing .hero-image img {
    width: 146px!important;
    height: 96px!important;
}
.post-listing .number {
    width: 46px!important;
}