.article {
    width: 454px!important;
}
.player-window {
    width: 196px!important;
    height: 196px!important;
}
.navigation {
    width: 176px!important;
    padding-left: 10px!important;
}
.navigation li {
    margin-left: 0px!important;
}
.series-nav {
    width: 497px!important;
}