---
import Layout from '../layouts/Layout.astro';

import WriteFeed from '@lib/components/feed/WriteFeed.astro';
import RSSFeed from "@lib/components/feed/RSSFeed.astro";
---

<Layout title="Welcome">
	<center>
		<img id="yonic-profile" alt="It's me, Yonic" src={import.meta.env.BASE_URL.replace(/\/$/, "") + "/yonic-profile/summer.gif"} width="300" height="300"/>
		<div class="article">
			<p>
				Welcome to the <i>legacy version</i> of the <b>Yonic Corner</b>!<br/>
				This version of my blog has been made specifically for old browsers and for those who like to browse the old net while using Windows 98 or Mac Classic.
			</p>
			<p>
				The contents of this version are not much different from the <a href="https://modern.yonic.blog">modern version</a>,
				but some articles from the modern version will not appear in this one due to technical limitations.
			</p>
			<h3>Recommended software</h3>
			<noscript>
				<style>
					#jquery-test {
						display: none;
					}
				</style>
				<p>JavaScript is disabled, or your browser does not support it. But the blog still works fine without it!</p>
			</noscript>
			<p>This blog officially supports the minimal following browsers and operating systems:</p>
			<ul>
				<li><b>Windows 98/NT:</b> Internet Explorer 5, Firefox 2, K-Meleon 1.5.4, Opera 9</li>
				<li><b>Mac OS 9 (Classic):</b> Netscape 7, Classilla 9.3.4 Beta</li>
			</ul>
			<p id="jquery-test">Your browser does not support jQuery. Some functions of the website may not work well.</p>
			<p>
				The music player supports versions of <a href="http://archive.org/download/Adobe_Flash_Player_Complete_Collection/fpdownload.macromedia.com/get/flashplayer/installers/archive/" target="_blank">Flash Player 7 to 9</a>.
				Use Flash Player 9 for Windows 98 and Flash Player 7 for Mac OS 9.</p>
			<p>If you're running a modern browser, I recommend using the modern version.</p>
			<h3>Recommended screen resolution</h3>
			<p>A resolution of 1024x768 pixels or greater is recommended to view the blog. I might try to make it look good on 800x600 in the future.</p>
			<p>As for number of colors, 256 colors is enough to see it clearly, but high color/16-bit color/thousands of colors or higher is recommended.</p>
		</div>
	</center>

	<WriteFeed slot="feed-writer">
		<RSSFeed slot="feed-writer"/>
	</WriteFeed>
</Layout>

<style is:global>
	.article {
		background: #C5FFF4;
		border: 3px solid #009183;
		text-align: left;
		width: 500px;
		padding: 0 20px;
		font-size: 11pt;
	}
	.article a {
		color: #1768d3;
	}
	.article p {
		margin: 12pt 0;
	}
</style>

<script is:inline>
	var now = new Date();
	var thisMonth = now.getMonth();
	if(thisMonth < 3 || thisMonth >= 9) {
		var base = $('#site-logo').attr("href");
		$('#yonic-profile').attr("src", base + "yonic-profile/winter.gif");
	}
	$('#jquery-test').html("Your browser supports jQuery! Enhanced features activated!");
</script>