---
import { Image } from "astro:assets";
import UnderConstruction from "@assets/under_construction.webp"
---
<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0" bgcolor="#A1FFED">
        <div style="height: 48px"></div>
        <center>
        <Image alt="Under construction" src={UnderConstruction} format="gif" width="150"/>
        </center>
    </body>
</html>

<style is:global>
    html, body {
        padding: 0;
    }
    img {
        display: block;
        margin: 0 auto;
    }
</style>