---
import { getEntry } from "astro:content";

import { shuffle } from "@lib/util";

const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");
const blurbs: string[] = ["Welcome to the Yonic Corner!", ...shuffle([(await getEntry("blurb", "legacy")).data.base, (await getEntry("blurb", "common")).data.base].flat())];
const spacing = 12;

function makeSpacing(prev: string, acc: string) {
    return prev + "&nbsp;".repeat(spacing) + acc;
}
---
<noscript>
    <style is:inline>
        .blurb-container {
            text-align: center;
        }
    </style>
</noscript>
<table class="blurb-window">
    <tr>
        <td>
            <img src={baseUrl+"/ui/marquee-window-left.gif"} width="13" height="24" />
        </td>
        <td class="blurb-container" style={{backgroundImage: `url(${baseUrl}/ui/marquee-window-center.gif)`}}>
            <!--[if !IE]>-->
            <style is:inline>
                #blurb-marquee {
                    display: none;
                }
            </style>
            <div id="blurb-marquee-js">
                <noscript>
                    <span class="noscript">Browse without JavaScript!</span>
                </noscript>
                <span class="script-only"><Fragment set:html={blurbs.reduce(makeSpacing)} /></span>
            </div>
            <!--<![endif]-->
            <marquee id="blurb-marquee" scrolldelay="120" scrollamount="4">
                <noscript>
                    <span class="noscript"><Fragment set:html={[blurbs[0],"Browse without JavaScript!"].reduce(makeSpacing)} /></span>
                </noscript>
                <span class="script-only"><Fragment set:html={blurbs.reduce(makeSpacing)} /></span>
            </marquee>
        </td>
        <td>
            <img src={baseUrl+"/ui/marquee-window-right.gif"} width="13" height="24" />
        </td>
    </tr>
</table>

<script is:inline>
    var blurbWindow = $("#blurb-marquee .script-only, #blurb-marquee-js .script-only");
    var now = new Date();
    $("#blurb-marquee-js span").css("left", "100%");
    $.getJSON("/blurbs.json", function(data) {
        var blurbs = $.grep(data, function(dat) {
            /**@type import("@lib/content/config").TimedBlurb */
            var blurb = dat;
            if(blurb.singleDate != null) {
                var dateSegments = blurb.singleDate.date.split("-");
                var date = new Date(Date.UTC(parseInt(dateSegments[0]), parseInt(dateSegments[1]-1), parseInt(dateSegments[2])));
                var result = (!blurb.singleDate.useYear || date.getUTCFullYear() == now.getUTCFullYear()) && date.getUTCMonth() == now.getUTCMonth() && date.getUTCDate() == now.getUTCDate()
                return result;
            } else if (blurb.dateRange != null) {
                var fromSegments = blurb.dateRange.from.split("-");
                var from = new Date(Date.UTC(parseInt(fromSegments[0]), parseInt(fromSegments[1]-1), parseInt(fromSegments[2])));
                var toSegments = blurb.dateRange.to.split("-");
                var to = new Date(Date.UTC(parseInt(toSegments[0]), parseInt(toSegments[1]-1), parseInt(toSegments[2])));
                if(blurb.dateRange.useYear) {
                    return from.getTime() <= now.getTime() && to.getTime() >= now.getTime()
                } else {
                    if(now.getUTCMonth() < from.getUTCMonth() || now.getUTCMonth() > to.getUTCMonth()) {
                        return false;
                    }
                    if(now.getUTCMonth() == from.getUTCMonth()) {
                        return now.getUTCDate() >= from.getUTCDate() && (from.getUTCMonth() != to.getUTCMonth() || now.getUTCDate() <= to.getUTCDate())
                    } else if(now.getUTCMonth() == to.getUTCMonth()) {
                        return now.getUTCDate() <= to.getUTCDate() && (from.getUTCMonth() != to.getUTCMonth() || now.getUTCDate() >= from.getUTCDate())
                    } else {
                        return true;
                    }
                }
            } else {
                return false;
            }
        })
        var html = blurbWindow.html();
        var spacer = "";
        var s = 0;
        while(s < 12) {
            spacer += "&nbsp;";
            s++;
        }
        for(var i=0;i<blurbs.length;i++) {
            var blurb = blurbs[i];
            html += spacer + blurb.text
        }
        blurbWindow.html(html);
        var marquee = $("#blurb-marquee-js span");
        if(marquee.length > 0) {
            beginJSMarquee(marquee);
        }
    })

    // /* JS driven marquee (for non-IE browsers) */
    function beginJSMarquee(marquee) {
        var scrollAmount = 4;
        var scrollInterval = 120;
        var containerWidth = $("#blurb-marquee-js").width();
        var marqueeWidth = marquee.width();
        marquee.css("left", Math.min(containerWidth, marqueeWidth) + 'px');
        marquee.css("display", "inline");
        function scroll() {
            marqueeWidth = marquee.width();
            var currentScroll = parseInt(marquee.css("left"));
            if(currentScroll < Math.max(containerWidth, marqueeWidth) * -1) {
                marquee.css("left", Math.min(containerWidth, marqueeWidth) + 'px');
            } else {
                marquee.css("left", (currentScroll - scrollAmount) + 'px')
            }
        }
        setInterval(scroll, scrollInterval)
    }
</script>

<style is:global>
    .blurb-window {
        border-collapse: collapse;
        margin: 12px 0;
    }
	.blurb-container {
		width: 360px;
        height: 24px;
        background-position: center left;
        text-align: right;
	}
    .blurb-window img {
        display: inline-block;
        vertical-align: top;
    }
    #blurb-marquee, #blurb-marquee-js {
        white-space: nowrap;
        height: 100%;
        line-height: 24px;
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
        font-size: 12px;
    }
    #blurb-marquee-js {
        position: relative;
        width: 360px;
        overflow: hidden;
    }
    #blurb-marquee-js span {
        position: relative;
        width: auto;
    }
</style>