<p class="player-title">Music player</p>
<div class="player-window">
    <iframe frameborder="0" width="200" height="200" id="player-frame" src="/player" />
</div>

<style is:global>
    .player-title {
        background-color: darkblue;
        color: white;
        margin: 0;
    }
    .player-window {
        background: #A1FFED;
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 10pt;
    }
    #player-frame {
        border: none;
    }
</style>