<img class="navigation-tab" alt="Music player" src="/ui/tab-player.gif" width="200" height="32" />
<div class="player-window">
    <iframe frameborder="0" width="196" height="196" id="player-frame" src="/player" />
</div>

<style is:global>
    .player-window {
        background: #A1FFED;
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 10pt;
        border: 2px solid #003323;
    }
    #player-frame {
        border: none;
    }
</style>