---
interface Props {
    links: Array<{
        href: string,
        icon?: string,
        label: string
    }>,
    title: string
}

const {links, title} = Astro.props;
---

<p class="navigation-title">{title}</p>
<ul class="navigation">
    {
        links.map(({href, icon, label}) => <li style={`list-style-image: ${icon? `url(${icon})` : "inherit"}`}><a {href}>{label}</a></li>)
    }
</ul>

<style is:global>
    .navigation {
        background: #A1FFED;
        margin: 0;
        padding: 10px 0;
        padding-left: 28px;
        width: 172px;
        text-align: left;
        font-size: 10pt;
    }
    .navigation > li {
        margin: 3px 0;
        padding: 0;
    }
    .navigation-title {
        margin: 0;
        font-weight: bold;
        background-color: green;
        color: white;
    }
</style>