---
interface Props {
    links: Array<{
        href: string,
        icon?: string,
        label: string
    }>,
    type: string,
    title: string
}

const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");

const {links, title, type} = Astro.props;
---

<img class="navigation-tab" alt={title} src={`${baseUrl}/ui/tab-${type}.gif`} width="200" height="32" />
<ul class="navigation">
    {
        links.map(({href, icon, label}) => <li>
            {icon && <img src={baseUrl + icon} width="16" height="16"/>}
            <a href={baseUrl + href}>{label}</a>
        </li>)
    }
</ul>

<style is:global>
    .navigation-tab {
        display: block;
    }
    .navigation {
        background: #A1FFED;
        margin: 0;
        margin-bottom: 32px;
        padding: 10px;
        padding-left: 0px;
        border: 2px solid #003323;
        width: 200px;
        text-align: left;
        font-size: 10pt;
    }
    .navigation li {
        margin: 3px 0;
        margin-left: -10px;
        padding: 0;
        list-style-type: none;
        list-style-position: outside;
    }
    .navigation img {
        vertical-align: middle;
    }
    .navigation-title {
        margin: 0;
        font-weight: bold;
        background-color: green;
        color: white;
    }
</style>