--- 
import NavigationTable from "../components/NavigationTable.astro";
import MusicPlayerWindow from "../components/MusicPlayerWindow.astro";
import BlurbWindow from "../components/BlurbWindow.astro";

import {version} from "../../package.json";

import standardCss from "../styles/layout-standard.css?url";

interface Props {
	title: string;
}

const { title } = Astro.props;

const rainbowColors = ["#078D70","#26CEAA","#98E8C1","white","#7BADE2","#5049CC","#3D1A78"]


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <script src="http://code.jquery.com/jquery-1.2.1.pack.js" type="text/javascript" integrity="sha256-Z1poq2DOUGgETZpJqYnb989fBR7s6fnY8y+qHoncORI=" crossorigin="anonymous"></script>
	</head>
	<body>
		<center>
			<div id="bubbles"></div>
			<div style="position: relative; z-index: 1">
				<table id="layout">
					<tr>
						<td colspan="3" id="site-header">
							<center>
								<img id="site-title" alt="The Yonic Corner" src="/yonic-corner.gif">
								<BlurbWindow />
							</center>
						</td>
					</tr>
					<tr>
						<td class="secondary-section">
							<center>
								<NavigationTable type="category" title="Categories" links={[
									{
										label: "Gaming",
										href: "/category/gaming"
									},
									{
										label: "Dev stuff",
										href: "/category/development"
									},
									{
										label: "Creative endeavours",
										href: "/category/creations/"
									},
									{
										label: "Outdoor adventures",
										href: "/category/outside"
									},
									{
										label: "Blog updates",
										href: "/category/blog"
									},
									{
										label: "Misc stuff",
										href: "/category/miscellaneous/"
									},
								]}/>
								<NavigationTable type="search" title="Search the blog" links={[
									{
										label: "Series",
										href: "/blog"
									},
									{
										label: "Tags",
										href: "/tags"
									},
								]} />
							</center>
						</td>
						<td class="main-section">
							<center>
								<slot/>
							</center>
						</td>
						<td class="secondary-section">
							<center>
								<NavigationTable type="browse" title="Browse the blog" links={[
									{
										label: "All posts",
										href: "/blog"
									},
									{
										label: "About Yonic Corner",
										href: "/about"
									},
								]}/>
								<MusicPlayerWindow />
							</center>
						</td>
					</tr>
				</div>
			</table>
			<div id="footer">
				<div id="rainbow">
					<img id="footer-me" src="/ui/footer-me.gif" />
					{
						rainbowColors.map((color) => (
							<div class="rainbow-strip" style={{backgroundColor: color}}/>
						))
					}
				</div>
				<center>
					<p>Yonic Corner Legacy v{version}, hosted by GitHub Pages</p>
					<span><a href="">Source code</a> | <a href="/rss.xml">Subscribe to feed</a> (WIP)</span>
				</center>
			</div>
		</center>
	</body>
</html>
<style is:global>
	html, body {
		padding: 0;
		margin: 0;
	}
	body {
		font-family: Verdana, Geneva, Tahoma, system-ui, sans-serif;
		background: #03F3FF;
		background-image: url("/ui/bg.gif");
		image-rendering: pixelated;
		position: absolute;
		width: 100%;
	}
	* {
		box-sizing: content-box;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	a {
        font-weight: bold;
        color: #056B5A;
        text-decoration: none;
    }
	a:hover {
		text-decoration: underline;
	}
	#layout {
		border-collapse: collapse;
	}
	#layout td {
		padding: 0;
		vertical-align: top;
	}
	
	#bubbles {
		position: absolute;
		top: 0px;
		left: 0px;
		background-repeat: no-repeat;
		background-image: url("/ui/bubbles.gif");
		background-position: top center;
		width: 100%;
		height: 100%;
	}
	#site-title {
		margin-top: 100px;
	}
	#rainbow {
		position: relative;
		margin-top: 36px;
		padding: 0;
	}
	.rainbow-strip {
		display: block;
		padding: 0;
		margin: 0;
		height: 7px;
		/* IE adjusts size of divs based on font-size even if it's empty */
		font-size: 0;
	}
	#footer {
		font-size: 10pt;
		background: #1b1b2f;
		background-image: url("/ui/footer.jpg");
		color: white;
		padding-bottom: 24px;
	}
	#footer-me {
		position: absolute;
		top: -175px;
		right: 0px;
	}
	#footer a {
		color: deepskyblue;
	}
</style>